.Movies {
    width: 80%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    
}

.Movies h2 {
    color: #59858E;
    font-size: 1.6em;
    text-align: center;
}

.Movies div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

@media(min-width: 600px) {
    .Movies h2 {
        font-size: 1.9em;
    }
}