.LinkList {
  display: flex;
  flex-direction: column;
  height: 45%;
  margin-top: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-top: 1px solid rgba(204, 204, 204, 0.4);
  border-bottom: 1px solid rgba(204, 204, 204, 0.4);
}

.LinkList::-webkit-scrollbar {
  width: 0.2em;
  border-top-right-radius: 10px;
}

.LinkList::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}

.LinkList::-webkit-scrollbar-thumb {
  background-color: rgb(218, 118, 231);
  border-radius: 100px;
  outline: 1px solid rgb(218, 118, 231);
}

@media (min-height: 750px) {
  .LinkList {
    height: 60%;
  }
}
