.MovieDetails {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.MovieDetails article {
  font-family: 'Open sans';
  display: block;
  width: 85%;
  height: 85%;
  margin: 40px auto;
  border-radius: 5px;
  position: relative;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  z-index: 140;
  overflow-y: auto;
  overflow-x: hidden;
  transition: transform 0.4s ease-in-out;
}

.Hide {
  transform: translateY(-150%);
}

.Hide article {
  transform: translateY(-150%);
}

.Show {
  transform: translateY(0%);
}

.Show article {
  transform: translateY(0%);
}

.MovieDetails h2 {
  text-align: center;
  font-size: 1.8em;
  color: #059cdb;
  margin-bottom: 20px;
}

.MovieDetails article::-webkit-scrollbar {
  width: 0.3em;
}

.MovieDetails article::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  padding: 0;
}

.MovieDetails article::-webkit-scrollbar-thumb {
  background-color: #059cdb;
  border-radius: 12px;
}

.ImageHolder {
  margin: auto;
  text-align: center;
}

.MovieDetails img {
  width: 200px;
  border: 10px solid white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0.7);
}

.TextInfo {
  font-size: 1em;
  padding: 0px 20px;
  box-sizing: border-box;
  color: #303030;
}

.TextInfo p {
  margin: 10px 0px;
}

.TextInfo a {
  text-decoration: none;
  color: #59858e;
}

.TextInfo a:hover {
  text-decoration: underline;
}

.TextInfo span {
  font-weight: bold;
}

@media (min-width: 700px) {
  .MovieDetails img {
    width: 350px;
  }

  .MovieDetails h2 {
    font-size: 2.1em;
  }

  .TextInfo {
    font-size: 1.2em;
  }
}

@media (min-width: 1200px) {
  .MovieDetails > div {
    flex-wrap: nowrap;
  }

  .MovieDetails img {
    width: 250px;
  }

  .TextInfo {
    float: left;
    width: 60%;
  }
  .ImageHolder {
    float: left;
    width: 30%;
  }
}

@media (min-width: 1500px) {
  .MovieDetails img {
    width: 320px;
  }
}
