.Movie {
    width: 350px;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #59858E;
    margin: 20px 10px;
    text-align: center;
    transition: transform 0.1s ease-in;
    cursor: pointer;
}

.Movie:hover {
    transform: scale(1.05);
}

.Movie a {
    text-decoration: none;
}

.Movie img {
    display: block;
    width: 100%;
    margin: 10px 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.Movie h3 {
    color: #059CDB;
    font-size: 1.3em;
}

.Movie h4 {
    height: 80%;
    box-sizing: border-box;
    font-size: 1.2em;
    padding-top: 200px;
    color: rgb(148, 52, 52);
    
}

.Movie p {
    font-weight: 700;
    font-size: 1.1em;
    color: #303030
}
