.Hamburger {
  width: 30px;
  height: 20px;
  margin-top: 15px;
  margin-left: 20px;
  display: none;
  cursor: pointer;
}

.Hide {
  display: none;
}

.Show {
  display: block;
}

.Hamburger:hover .Rectangle {
  background-color: #d95ee9;
}

.Rectangle {
  width: 30px;
  height: 4px;
  margin: 4px 0px;
  background-color: #a905db;
}