.Hamburger {
    width: 30px;
    height: 20px;
    position: absolute;
    display: block;
    top: 15px;
    left: 15px;
    cursor: pointer;
}

.Hide {
    display: none;
}

.Show {
    display: block;
}

.Hamburger:hover .Rectangle {
    background-color: #D95EE9;
}

.Rectangle {
    width: 30px;
    height: 4px;
    margin: 4px 0px;
    background-color: #A905DB;
}

@media(min-width: 800px) {
    .Hamburger {
        display: none;
    }
}