.Footer {
    background-color: #26425A;
    padding: 40px;
    bottom: 0;
    left: 0;
    right: 0;

}

.Footer h3 {
    color: #8EB4DB;
    font-family: 'Open Sans';
    text-align: center;
    font-size: 1.4em;
}