* {
  margin: 0;
  padding: 0;
}

.App {
  background: rgb(172, 75, 190);
  background: rgb(224, 117, 244);
  background: linear-gradient(
    45deg,
    rgba(224, 117, 244, 0.7315301120448179) 0%,
    rgba(169, 5, 219, 0.6811099439775911) 100%
  );
  width: 100%;
}

.App main {
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
  display: block;
  position: relative;
  box-sizing: border-box;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

@media (min-width: 700px) {
  .App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .App main {
    width: 95%;
    height: 95%;
    min-height: 0px;
    left: 2.5%;
    top: 2.5%;
    border-top-left-radius: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: static;
  }
}
