.ButtonBar {
  width: 80%;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PageLink {
  text-decoration: none;
  background-color: rgb(218, 118, 231);
  color: #fff;
  width: 35px;
  height: 35px;
  margin: 2px;
  box-sizing: border-box;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.PageLink:hover,
.Active {
  background-color: rgb(217, 94, 233);
}

@media (min-width: 800px) {
  .PageLink {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 600px) {
  .PageLink {
    width: 35px;
    height: 35px;
  }
}
